header h1{
    font-family: helvetica;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    background-image: url(pattern.jpeg);
    color: khaki
}

.brushes h2{
background-color: mediumspringgreen;

}
span {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

h2 {
font-family: helvetica;
font-size: 32px;
font-weight: bold;
color: white;
}
.frames h2 {
    background-color: lightcoral;
}

.paint h2 {
    background-color: skyblue;
}